{% extends 'base.html' %}

{% block title %}
	Admin
{% endblock %}

{% block content %}
	<p>Rescan Folders</p>
	<p>
		<button onclick='rescan_folder(this);'>Movies</button>
	</p>
	<p>
		<button onclick='rescan_folder(this);'>TV</button>
	</p>
	<p>
		<button onclick='rescan_folder(this);'>Books</button>
	</p>
	<p>
		<h4>Stats</h4>
		<table class='stats'>
			<tr>
				<th>Filesystem</th>
				<th>Size</th>
				<th>Used</th>
				<th>Avail</th>
				<th>Use%</th>
				<th>Mounted on</th>
			</tr>
				
			{% for line in stats[1:] %}
				<tr>
					{% for item in line %}
					<td>{{item}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</p>
{% endblock %}