
body {
	padding:0;
	margin:0;
	background:#dcdcdc;
}
#results {
	margin-top:110px;
}
.tabs {
	position:fixed;
	top:0;
	left:0;
	background:#acacac;
	width:100%;
	margin:0;
	box-shadow: -4px 4px 4px -4px rgba(0,0,0,0.7);
}
.item {
	border-radius:15px;
	border: 0.5px solid rgba(0,0,0,0.3);
	margin-bottom:10px;
	background:#dcdcdc;
	margin-left:10px;
	margin-right:10px;
	box-shadow:  -4px 4px 4px -4px rgba(0,0,0,0.7);
}
.header {
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	padding:30px;
	padding-left:100px;
	font-size:2em;
}
img {
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
	width:100%;
}
ul {
	padding:30px;
	margin-bottom:10px;
}
li {
	display:inline;
	padding:30px;
	margin-right:10px;
	font-size:2em;
}
li.selected {
	background:#dcdcdc;
	box-shadow: inset -7px 7px 9px -7px rgba(0,0,0,0.6);
}
img.temp {
	border-radius:13px;
}
video {
	width:100%;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}

.stats th,td {
	text-align: left;
}